 @import "mixins_app/mixins";

.footer_container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;

  .motion_div {
    position: absolute;
    top: 20%;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke:0.5px black;
    font-size: 15rem;
    font-weight: 1000;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    transition: all 1s;


    &:hover{
      color: pink;
      -webkit-text-stroke:0.5px pink;
      transition: all 1s;
      z-index:5;
    }
    &:active{
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke:0.5px black;
    }
  }

  .img_bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-position:center ;
    background-repeat: no-repeat;
  }
  .about_brand_container{
    position: absolute;
    left:0px;
    bottom:0px;
    width: 100vw;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .wrapper_socials{
      .title{
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke:0.5px black;
        cursor: pointer;
        margin: 40px 0;
        transition: all 1s;
        &:hover {
          color: pink;
          -webkit-text-stroke:0.5px pink;
          transition: all 1s;
        }
      }
      .social_icon_wrapper{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        min-width: 250px;
        a{
          position: relative;
          .social_icon{
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 1.3rem;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            color: #000000;
            background: pink;
            transition: all 0.5s;
            &:hover{
              transform: scale(1.2);
              font-size: 1.5rem;
              color: white;
              transition: all 0.5s;
            }
          }
        }
      }
    }
    .link_wrapper{
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: start;
      .title{
      font-weight: 600;
      font-size: 2.2rem;
      letter-spacing: 0.2rem;
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke:0.5px black;
      cursor: pointer;
      margin: 40px 0;
      transition: all 1s;
      &:hover {
        color: pink;
        -webkit-text-stroke:0.5px pink;
        transition: all 1s;
      }
    }
      .link{
        margin: 8px 0;
      }
    }
    .information {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      line-height:2rem;
      padding: 5px;
      .title{
        font-weight: 600;
        font-size: 2.2rem;
        letter-spacing: 0.2rem;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke:0.5px black;
        cursor: pointer;
        margin: 40px 0;
        transition: all 1s;
        &:hover {
          color: pink;
          -webkit-text-stroke:0.5px pink;
          transition: all 1s;
        }
      }
      .item_info{
        font-size: 1.2rem;
        .info_text{
          text-transform: none;
          margin: 0 15px;
          color: #626262;
          font-size: 1rem;
        }
      }
    }
  }
}