 @import "mixins_app/mixins";

.container {
  position: relative;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;

  .motion_div {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke:0.5px black;
    font-size: 15rem;
    font-weight: 1000;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    &:hover{
      color: pink;
      -webkit-text-stroke:0.5px pink;
      transition: all 1s;
    }
    &:active{
      color: rgba(0, 0, 0, 0);
      -webkit-text-stroke:0.5px black;
    }
  }
  .img_bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: scroll;
    background-position:center ;
    background-repeat: no-repeat;
    .about_brand_container{
      position: absolute;
      left:0px;
      bottom:0px;
      width: 100vw;
      height: 10vh;
      background-color: rgba(255, 192, 203, 0.5);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}